@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
  font-weight: 300;
}

a {
  color: black;
  text-decoration: none;
}

html {
  background-color: black;
}

.App {
  background-color: black;
  max-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  overflow: hidden;
}

.foreground {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
  z-index: 999;
}

.bgHolder {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.bg {
  position: absolute;
  height: calc(100% + 100px);
  width: calc(100% + 100px);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("https://4kwallpapers.com/images/walls/thumbs_2t/1432.jpg");
  background-position: center;
  background-size: cover;
  filter: blur(5px);
}

.date {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

h1 {
  color: white;
  font-size: 60px;
}

h2 {
  color: white;
  font-size: 22px;
}

.search {
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  width: calc(100vw - 100px);
  max-width: 500px;
  padding: 14px 30px;
  font-size: 16px;
  border-radius: 1000px;
  backdrop-filter: blur(20px);
  margin-top: 50px;
  color: white;
  outline: none;
}

.search::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.itemHolder {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 40px;
}

.item {
  padding: 20px 40px;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 0.1s ease, transform 0.1s ease,
    border-color 0.1s ease;
  border-radius: 16px;
  margin: 20px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(20px);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  /*  mix-blend-mode: lighten; */
}

.item:hover {
  /* animation: bounce 0.3s ease-in-out; */
  /* background-color: rgba(0, 0, 0, 0.2); */
  /* transform: scale(1.05); */
  /* border-color: transparent; */
  /* backdrop-filter: blur(100px); */
}

.itemTitle {
  font-size: 20px;
  color: white;
}

.item img {
  /* mix-blend-mode: multiply; */
  margin-right: 24px;
  height: 20px;
  filter: brightness(0) saturate(0) invert(100%);
}

.bubble {
  position: absolute;
  border-radius: 50%;
  background: linear-gradient(45deg, rgb(255, 78, 78), rgb(133, 206, 255));
  mix-blend-mode: lighten;
  opacity: 0.7;
}

.braveLinks {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 40px;
}

.braveLinks a {
  font-size: 16px;
  padding: 12px 20px;
  margin: 0 10px;
  color: white;
}

.byline {
  color: white;
  font-size: 14px;
  margin-bottom: 50px;
  margin-top: 50px;
  display: flex;
  align-items: center;
}

.byline img {
  height: 16px;
  filter: invert(100%);
  margin-left: 6px;
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  90% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}

.trading.tradingview-widget-container {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(20px);
  border-radius: 16px;
  margin-top: 40px;
}

.tape.tradingview-widget-container {
  z-index: 9999;
}

.trading.tradingview-widget-container,
.trading.tradingview-widget-container iframe {
  max-width: min(calc(100vw - 100px), 1000px);
  min-height: 700px;
}
